@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  /* colors */
  --white: #ffffff;
  --gray: #F3F4F6;
  --medium-gray: #D1D5DB;
  --darken-gray: #6B7280;
  --blue: #3B82F6;
  --hover-blue: #2563EB;
  --black: #37352F;

  /* font sizes */
  --sm: 0.875rem;
  --base: 1rem;
  --lg: 1.125rem;
  --xl:1.25rem;
  --xl2: 1.5rem;

  /* font weight */  
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;  
  font-family: 'Poppins', sans-serif;
}

body{
  background: var(--gray);
  user-select: none;
}

.container{
  width: 66.666667%;
  margin: 0 auto;  
  min-height: 100vh;
  background: var(--white);  
}

.navbar{  
  display:flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid var(--medium-gray);
}

.navbar .navbar-title {  
  font-size:var(--xl);
  font-weight: var(--semibold);
}

.navbar .navbar-text {
  font-size: var(--sm);  
}

.content-wrapper{    
  padding: 2rem 2rem 0 2rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.ideas-card{  
  margin: 2rem 0;
  border: 1px solid var(--medium-gray);
  padding:1rem;
  width: 100%;
  transition: 200ms;
  border-radius: 0.25rem;  
}

.ideas-card:hover{
  border: 1px solid var(--black);
}

.ideas-card .ideas-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ideas-id {
  font-size: var(--lg);
  font-weight: var(--semibold);
  color: var(--darken-gray)
}

.ideas-heading {
  font-size: var(--xl2);
  font-weight: var(--semibold)
}

.ideas-text{
  color: var(--darken-gray)
}

.ideas-card .ideas-card-body {
  margin: 1rem 0 0 0;
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
}

.heading-text{
  font-size: var(--xl2);  
}

.btn-primary {
  display:flex;
  align-items:center;
  justify-content:center;
  padding: .75rem 1.5rem;
  background: var(--blue);
  border:none;
  color: white;
  border-radius: 0.25rem;
  font-weight: var(--semibold);
  letter-spacing:.05em;
  transition: 200ms;
  cursor: pointer;
}

.btn-primary:hover{
  background: var(--hover-blue);
}

@media screen and (max-width: 600px) { 
  .container{
    width: 100%
  }
  .content-wrapper {
    flex-dircetion: row;
  }
}