@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  /* colors */
  --white: #ffffff;
  --gray: #F3F4F6;
  --medium-gray: #D1D5DB;
  --darken-gray: #6B7280;
  --blue: #3B82F6;
  --hover-blue: #2563EB;
  --indigo: #6366F1;
  --black: #37352F;

  /* font sizes */
  --sm: 0.875rem;
  --base: 1rem;
  --lg: 1.125rem;
  --xl:1.25rem;
  --xl2: 1.5rem;

  /* font weight */  
  --medium: 500;
  --semibold: 600;
  --bold: 700;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;  
  font-family: 'Poppins', sans-serif;
}

body{
  background: var(--gray);
  user-select: none;
}

.container{
  width: 66.666667%;
  margin: 0 auto;  
  min-height: 100vh;
  background: var(--white);  
}

.navbar{  
  display:flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid var(--medium-gray);
}

.navbar .navbar-title {  
  font-size:var(--xl);
  font-weight: var(--semibold);
}

.navbar .navbar-text {
  font-size: var(--sm);
  color: var(--darken-gray)
}

.content-wrapper{    
  padding:2rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.heading-text {
  font-weight: var(--semibold);
  font-size: var(--xl2);
}

.content-text{
  font-size: var(--sm);
  color: var(--darken-gray)
}

.btn-primary {
  display:flex;
  align-items:center;
  justify-content:center;
  padding: .75rem 1.5rem;
  background: var(--blue);
  border:none;
  color: white;
  border-radius: 0.25rem;
  font-weight: var(--semibold);
  letter-spacing:.05em;
  transition: 200ms;
  cursor: pointer;
}

.btn-primary:hover{
  background: var(--hover-blue);
}

.card {  
  border: 1px solid var(--medium-gray);
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;  
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.card-heading{
  font-size: var(--xl);
  font-weight: var(--semibold);
}

.card-title{
  font-weight: var(--semibold);
  letter-spacing:1.1px;
  font-size: var(--lg);
}

.card .card-inner-left{  
  background-image: linear-gradient(to right,var(--blue), var(--indigo) );
  color: white;
  padding:1rem 2rem;
  width: 500px;  
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.card .card-inner-right {
  padding:1rem 2rem;
  width: 100%;
}

.card .card-inner-right .card-inner-container{
  display: flex;  
  justify-content: space-between;
}

.loader {
  border: 2px solid var(--medium-gray);
  border-radius: 50%;
  border-top: 2px solid  var(--gray);
  width:1.20rem;
  height:1.20rem;
  animation: spin-loader 2s linear infinite
}

@keyframes spin-loader{
  0%{
    transform: rotate(0deg);    
  }
  100%{
    transform: rotate(360deg);
  }
} 

@media screen and (max-width: 950px) {   
  .container{
    width: 100%
  }
  .navbar{
    padding: 2rem 1rem;
  }
  .content-wrapper {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1rem ;

  }
  .content-wrapper div :nth-child(even){
    margin-bottom: 1rem;
  }
  .card{
    flex-direction: column;
  }
  .card .card-inner-left{
    padding: 1rem;
    width: 100%;
  }
  .card .card-inner-right{
    padding: 1rem;
  }  
}